main {
    background-color: #000;
}
.button {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    button {
        @include btn;
    }
}
.content {
    .jumbo {
        width: 100%;
        height: 400px;
        img {
            object-fit: cover;
            object-position: top;
            height: 100%;
            width: 100%;
        }
    }
    .ms-container {
        margin: auto;
        width: var(--container-size);
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .cards {
            display: flex;
            flex-wrap: wrap;
        }
        .comic {
            width: calc(var(--container-size) / 6);
            display: flex;
            flex-direction: column;
            color: #fff;
            padding: 0 10px;
            .ms-card {
                height: 70%;
                overflow: hidden;
                h3 {
                    color: #fff;
                }
            }
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}
